.footer-card-footer {
    text-align: center;
    width: 100%;
}

.footer-container {
    width: 100%;
}

.footer-email {
    font-size: 2rem;
    color: black
}

.footer-linkedin {
    font-size: 2rem;
    color: black
}

.footer-github {
    font-size: 2rem;
    color: black
}